{% extends "base.html" %}

{% block content %}

<div class="card">

    {% if item.image %}
        <img src="{{ item.image.url }}" class="card-img-top">
    {% endif %}

    <div class="card-body">

        <h1>{{ item.title }}</h1>

        <div class="card-body">

            <h1>{{ item.title }}</h1>
                
            <div class="mt-3">
                {{ item.content|urlize|linebreaks }}
            </div>
        
            <small class="text-muted">
                {{ item.created_at }}
            </small>
        
        </div>

        <small class="text-muted">
            {{ item.created_at }}
        </small>

    </div>

</div>

{% endblock %}