{% extends "base.html" %}

{% block content %}

<!-- BOTÃO VOLTAR -->
<a href="{% url 'contact_list' %}" class="btn btn-secondary mb-3">
    ← Voltar
</a>


<div class="d-flex align-items-center justify-content-center gap-3">

    <!-- SETA ANTERIOR -->
    <div style="width:40px;">
        {% if previous_item %}
            <a href="{% url 'contact_detail' previous_item.pk %}"
               class="fs-1 text-decoration-none">
                ‹
            </a>
        {% endif %}
    </div>


    <!-- CARD -->
    <div class="card" style="width:350px;">

        {% if item.image %}
            <img src="{{ item.image.url }}"
                 class="card-img-top"
                 style="height:250px; object-fit:contain;">
        {% endif %}


        <div class="card-body">

            <h1>{{ item.title }}</h1>

            <p>{{ item.contact }}</p>

            <small class="text-muted">
                {{ item.created_at }}
            </small>

        </div>

    </div>


    <!-- SETA PRÓXIMO -->
    <div style="width:40px;">
        {% if next_item %}
            <a href="{% url 'contact_detail' next_item.pk %}"
               class="fs-1 text-decoration-none">
                ›
            </a>
        {% endif %}
    </div>


</div>

{% endblock %}